@font-face {
    font-family: Montserrat-Bold;
    src: url('../templates/login/fonts/montserrat/Montserrat-Bold.ttf') format('truetype'); 
    /* src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap'); */
  }
  @font-face {
    font-family: Montserrat-Light;
    src: url('../templates/login/fonts/montserrat/Montserrat-Light.ttf') format('truetype'); 
  }
  @font-face {
    font-family: Montserrat-Medium;
    src: url('../templates/login/fonts/montserrat/Montserrat-Medium.ttf') format('truetype'); 
  }
  @font-face {
    font-family: Montserrat-Regular;
    src: url('../templates/login/fonts/montserrat/Montserrat-Regular.ttf') format('truetype'); 
    /* src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap'); */
  }
  @font-face{
    font-family:PlusJakarta-Bold;
    src: url('../fonts/PlusJakarta/static/PlusJakartaSans-Bold.ttf') format('truetype');
  }
  @font-face{
    font-family:PlusJakarta-Medium;
    src: url('../fonts/PlusJakarta/static/PlusJakartaSans-Medium.ttf') format('truetype');
  }
  @font-face{
    font-family:PlusJakarta-Regular;
    src: url('../fonts/PlusJakarta/static/PlusJakartaSans-Regular.ttf') format('truetype');
  }
  @font-face{
    font-family:PlusJakarta-Light;
    src: url('../fonts/PlusJakarta/static/PlusJakartaSans-Light.ttf') format('truetype');
  }
  @font-face{
    font-family:PlusJakarta-Italic;
    src: url('../fonts/PlusJakarta/PlusJakartaSans-Italic-VariableFont_wght.ttf') format('truetype');
  }
  
  html, body {
    height: 100%;
  }
.sidebar-brand{
    padding: 1.5rem 1rem 8rem !important;
}
.img-profile-sidebar{
    height: 100px;
    width: 100px;
}
.bg-gradient-primary{
    background: #189AB4!important;
}
#content-wrapper{
    background-color: #E5E5E5 !important;
}
/* Sidebar Custom */
.container-copyright{
    display: flex;
}


/* END sidebar custom */
@media screen and (max-width:767px){
    .sidebar-brand{
        padding: 1.5rem 1rem 6rem !important;
    }
    .img-profile-sidebar{
        height: 60px;
        width: 60px;
    }
}
.h1-dashboard{
    margin-bottom: 50px;
    color: black;
    font-size: 40px;
    font-family:PlusJakarta-Bold;
    font-weight: 700;
}
.see-store{
    color: #9A9A9A;
}
#templates{
    background-color: gainsboro;
}
.templates-wrapper{
    text-align: center;
    padding: 4rem 4rem 5rem 4rem;
}
.templates-wrapper h1{
    font-size: 72px;
    line-height: 98px;
}
.templates-wrapper p{
    font-size: 18px;
    line-height: 26px;
    font-family: Montserrat-Bold;
}
.template-selection-label{
    text-align: right;
}
.template-selection-label label{
    font-size: 16px;
    line-height: 25px;
}
.template-selection{
    text-align: left;
}
#template-selection-inner{
    width: 40%;
}
.template-list{
    margin-top: 2.5rem;
}
.card button{
    float: right;
}
.card span{
    line-height: 35px;
}
div[data-acc-content]{
    display: none;
}
.NextBTN{
    background-color: #EE6530;
    color: #FFFFFF;
    font-size: 13px;
    font-family: Montserrat-Medium;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}
.NextBTN:hover{
    color: green;
}
.PrevBTN{
    background-color: #EE6530;
    color: #FFFFFF;
    font-size: 13px;
    font-family: Montserrat-Medium;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 50px;
    border-radius: 5px;
}
.PrevBTN:hover{
    color:green;
}
.NextBTN[type="submit"]{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: yellow; */
    position: absolute;
    top: calc(50% + 30px);
    /* left: calc(50% - 80px); */
}
.border-line{
    border-left: 1px solid black;
}
/* Radio Btn */


/* END */

/* Product List */
.list-product-wrapper{
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 20px;
}
.product-menu ul{
   display: flex;
   justify-content: space-around;
   list-style-type: none;
}
.product-menu ul>li{
    margin: 0 20px;
}
.product-menu ul>li>a{
    text-decoration: none;
    color:#333333;
    font-size: 18px;
    line-height: 26px;
    font-family: Montserrat-Bold;
}
.product-table thead{
    background-color: #F7EEE5;
}
.product-list-header{
    border-bottom: 9px solid #E5E5E5 !important;
}
.h1-product-list{
    margin-bottom: 0px;
}
.table-head{
    border-bottom: 9px solid #E5E5E5 !important;
}
.table-head th{
    padding-top: 20px;
    padding-bottom: 20px;
}
.table-checkbox{
    width: 20px;
    height: 20px;
}
.table-body{
    background-color: #FFFFFF;
}
.table-body th{
    position: absolute;
    top: calc(50% - 20px);
    /* padding-left: 40px; */
}
.product-list-img-container{
    /* text-align: center; */
}
.product-list-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    max-width: 100%;
}
.product-list-text{
    padding-top: 1rem;
}
.product-list-text h2{
    font-family: Montserrat-Bold;
    font-size: 18px;
    line-height: 26px;
}
.product-list-text p{
    font-size: 14px;
    font-family: Montserrat-Light;
    line-height: 23px;
}
.product-statistics{
    padding-left: 0px;
    padding-top: 1rem;
}
.product-statistics li>i{
    margin-right: 10px;
    margin-bottom: 10px;
    color: #5B5B5B;
}
.product-price{
    padding-top: 1rem;
    color: #5B5B5B;
}
.product-stock{
    padding-top: 1rem;
    color: #5B5B5B;
}
.product-switch{
    padding-top: 1rem;
}
.product-action{
    display: flex;
    padding-top: .5rem;
}
.fa-pen-to-square{
    color: #5B5B5B;
}
.fa-trash-can{
    color: #5B5B5B;
}
.product-action-icon{
    height: 28px;
    width: 30px;
    text-align: center;
    background-color: #EBEAEA;
    margin: 10px;
}
#flexSwitchCheckChecked{
    height: 30px;
    width: 50px;
    background-color: #53A7B2;
    border-color: #53A7B2;
}
.search-box{
    background-color:#D9D9D9 !important;
    border-radius: 10px;
}
.active-list{
    color: #EE6530 !important;
    font-size: 24px !important;
}
/* End Product List */

/* Product Order*/
.order-number{
    color: #333333;
    font-family: PlusJakarta-Regular;
    font-size: 14px;
    line-height: 24px;
}
.order-date{
    color: #333333;
    font-family: PlusJakarta-Regular;
    font-size: 14px;
    line-height: 24px;
}
.product-order-detail{
    padding-left: 0px;
    max-width:350px;
    word-wrap: break-word;

}
.product-order-text{
}
.product-order-detail h3{
    font-size: 16px;
    font-family: Montserrat-Bold;
    line-height: 24px;
    color: #333333;
}
.product-order-wrapper{
    max-width: 95%;
}
.product-order-detail p{
    font-size: 14px;
    font-family: Montserrat-Regular;
    line-height: 23px;
    color: #333333;
    overflow-wrap: break-word;
}
.product-delivery{
    font-family: Montserrat-Bold;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}
.product-resi{
    height: 25px;
    width: 100px;
    background-color: #F1F1F1;
}
.delivery-status{
    padding:5px 1px;
    background-color: #3FABAE;
    border-radius: 15px;
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
    font-family: Montserrat-Bold;
    line-height: 22px;
}


/* END Product Order */


/* Product List Mobile */
.search-box-mobile i{
    position: absolute;
    padding: 10px;
    min-width: 40px;
    z-index: 1
}
.product-list-row{
    padding: 10px 0;
}
.product-list-mobile-text{
    padding-left: 0;
}
.product-list-mobile-text h1{
    font-size: 18px;
    font-family: Montserrat-Bold;
    line-height: 24px;
    color: #000000;
}
.product-list-mobile-text h2{
    font-size: 16px;
    font-family: Montserrat-Medium;
    line-height: 24px;
    color: #EE6530;
}
.product-list-mobile-text p{
    font-size: 14px;
    font-family: Montserrat-Medium;
    line-height: 22px;
    color: #000000;
}
.display-mobile-wrapper{
    background-color:#FFFFFF;
    padding-top:1rem;
    border-radius: 10px
}
.product-list-mobile h6{
    margin-bottom: 0px !important;
    font-family: Montserrat-Bold;
    font-size: 14px;
    color: #000000;
}
.product-list-mobile p{
    margin-bottom: 0px !important;
    font-family: Montserrat-Medium;
    font-size: 10px;
    color: #000000;

}

/* END Product List Mobile */
.break-line-1{
    border: 3px solid #D9D9D9;
    margin: 10px 0;
    /* border-radius: 10px; */
}
#sidebarToggleTop{
    display: none;
}

/* Chats */
.border-right{
    padding-right: 0;
    /* padding-left: 0; */
}
.border-left{
    /* padding-right: 0; */
    padding-left: 0;
}


/* End Chats */

/* Create Product */
.break-line-3{
    border: 3px solid #E5E5E5;
    margin: 10px 0;
    /* border-radius: 10px; */
}
#createproduct
{
    background-color: #E5E5E5;
}
.create-product-container h1{
    font-size: 40px;
    font-family: PlusJakarta-Bold;
    line-height: 54px;
    color: #333333;
    margin-bottom: 20px;
}
.form-container-img{
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 20px;
}
#image-upload{
    height: 150px !important;
    /* width: 150px !important; */
}
.upload-image-text-h2{
    font-family: Montserrat-Bold;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}
.upload-image-text p{
    font-family: Montserrat-Regular;
    font-size: 14px;
    line-height: 23px;
    color: #000000;
}
.form-container-content{
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 20px 50px 20px 20px;
}

.form-container-content h3{
    color: #FC764E;
    font-family: Montserrat-Bold;
    font-size: 18px;
    line-height: 26px;
}
.upload-form-content>.form-group{
    margin: 10px 0;
}
.upload-form-content>.form-group input{
    background-color: #FFFFFF;
    border: 1px solid #9A9A9A;
}
.upload-form-content>.form-group textarea{
    background-color: #FFFFFF;
    border: 1px solid #9A9A9A;
}
.form-upload-volume{
    display:inherit;
}
.form-upload-volume label{
    margin-right: 10px;
    line-height: 33px;
}
.upload-product-varian-btn{
    margin-left: auto;
    order: 2;
}
.product-varian-text p{
    font-family: Montserrat-Regular;
    font-size: 14px;
}
.product-varian{
    /* display: flex; */
    padding: 50px 30px 30px 50px;
    /* margin-bottom: 100px; */
}
.variant-label{
    font-family: Montserrat-Regular;
}
.varian-wrapper-1{
    display: flex;
    padding: 5px;
    /* border: 1px solid #9A9A9A; */
    border-radius: 5px;
}
.btn-add-varian{
    width: 100%;
    background-color: #EE6530;
    padding: 11px 0;
    color: #FFFFFF;
    font-size: 14px;
    font-family: Montserrat-Bold;
}
.form-select-varian{
    padding:13px 10px;
}
.fa-x-varian{
    margin-left: 10px;
}
.varian-delete{
    text-decoration: none;
    color: #FFFFFF;
}

.variant-price-wrapper{
    border-radius: 8px;
    display: flex;
}
.tabel-varian{
    overflow-x: auto;
}
.label-varian-table{
    font-size: 18px;
    font-family: Montserrat-Bold;
    line-height: 28px;
}
#variantTable{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.variant-price-wrapper input{
    background: #FFFFFF;
}
.variant-price-currency{
    background-color: #9A9A9A;
    padding: 0px 20px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 10px 10px;
}
.variant-stock-wrapper input{
    border-radius: 8px;
    background-color: #FFFFFF;
}
.variant-weight input{
    background-color: #FFFFFF;
}
#image-variant{
    height: 50px;
}
#variant-switch{
    background-color: #53A7B2;
    border-color: #53A7B2;
}
.variant-list-wrapper{
    min-height: 53px;
}
.table-variant-wrapper th{
    padding-top: 30px;
    padding-bottom: 30px;
}
.table-variant-wrapper td{
    padding-top: 30px;
    padding-bottom: 30px;
}
.input-name{
    background-color: #FFFFFF !important;
    border: none;
}
.input-images-2{
    height: 500px;
}
.varian-type{
    margin-right: 20px;
    background-color: #189AB4;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
}
.product-varian-btn{
    margin-left: auto;
    order: 0;
    padding-top: 1rem;
}
.product-varian-btn a{
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;
    color: #333333;
    border-radius: 30px;
    border: 1px solid #333333;
}
.create-product-container{
    padding-top: 50px;
    padding-bottom: 100px;
}
.form-upload-label{
    font-family: Montserrat-Bold;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
}
.text{
    /* display: flex;
    height: 200px;
    margin: auto;
    border-radius: 10px;
    align-items:center;
    justify-content:center; */
}

/* End Create Product */
.footer-mobile{
    justify-content: center;
}
.form-upload-volume{
    font-family: Montserrat-Regular;
}
.button-save-product{
    margin-top: 20px;
    float: right;
    font-family: Montserrat-Bold;
    font-size: 24px;
    line-height: 32px;
}
.button-save-product button{
    padding: 10px 30px;
    background-color: #EE6530;
    border-radius: 5px;
    border: 1px solid #EE6530;
}
.btn-primary{
    font-family: Montserrat-Bold;
    font-size: 14px;
    line-height: 21px;
}

/* Address */
.address-list{
    background-color: #E5E5E5;
}

/* ENd Address */
@media screen and (max-width:1199px){
    #variantTable{
        width: 1000px;
    }
    .footer-mobile{
        text-align: center;
        justify-content: none;
    }
    .create-product-container{
        padding-top: 20px;
        padding-bottom: 100px;
    }
    .item.social{
        text-align: center !important;
    }
    #sidebarToggleTop{
        display: block;
    }    
    .container-copyright{
        display: block;
        text-align: center;
    }
    .copyright-mobile{
        text-align: center;
        padding-bottom: 0px;
        padding-top: 10px;
    }
    .social-media{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .product-list-img{
        width: 100px;
        height: 100px;
        max-width: 100%;
        max-height: 100%;
    }
    .product-list-mobile-text h1{
        font-size: 14px;
    }
    .product-list-mobile-text h2{
        font-size: 14px;
    }
    .product-list-mobile-text p{
        font-size: 14px;
        color: #5B5B5B;
    }
    .sidebar-menu{
        width: 0 !important;
        overflow: hidden;
    }
    .mobile-shipping-details span{
        font-size: 12px;
        font-family: Montserrat-Regular;
        line-height: 20px;
    }
    .mobile-track{
        text-decoration: none;
        padding: 5px 30px;
        background-color: gray;
        border-radius: 10px;
        color: #FFFFFF;
        /* display: flex;
        align-items: center; */
    }
  
    
}