@font-face {
  font-family: Montserrat-Bold;
  src: url('../templates/login/fonts/montserrat/Montserrat-Bold.ttf') format('truetype'); 
  /* src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap'); */
}
@font-face {
  font-family: Montserrat-Light;
  src: url('../templates/login/fonts/montserrat/Montserrat-Light.ttf') format('truetype'); 
}
@font-face {
  font-family: Montserrat-Medium;
  src: url('../templates/login/fonts/montserrat/Montserrat-Medium.ttf') format('truetype'); 
}
@font-face {
  font-family: Montserrat-Regular;
  src: url('../templates/login/fonts/montserrat/Montserrat-Regular.ttf') format('truetype'); 
  /* src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap'); */
}
@font-face{
  font-family:PlusJakarta-Bold;
  src: url('../fonts/PlusJakarta/static/PlusJakartaSans-Bold.ttf') format('truetype');
}
@font-face{
  font-family:PlusJakarta-Medium;
  src: url('../fonts/PlusJakarta/static/PlusJakartaSans-Medium.ttf') format('truetype');
}
@font-face{
  font-family:PlusJakarta-Regular;
  src: url('../fonts/PlusJakarta/static/PlusJakartaSans-Regular.ttf') format('truetype');
}
@font-face{
  font-family:PlusJakarta-Light;
  src: url('../fonts/PlusJakarta/static/PlusJakartaSans-Light.ttf') format('truetype');
}
@font-face{
  font-family:PlusJakarta-Italic;
  src: url('../fonts/PlusJakarta/PlusJakartaSans-Italic-VariableFont_wght.ttf') format('truetype');
}

h1{
    font-size:50px;
    font-weight:600;
}

#section-home-contents{
    text-align: center;
    margin-top:50px;
}
.homepage-img{
    max-width:100%;
    /* width:300px; */
    max-height: 587px;
}
#homepage-footer{
  background-color: #53A7B2;
}
.yellow-line{
    border-bottom: 4px solid orangered;
    width:40px;
    margin-bottom:10px;
}
.section-home-inner{
    padding: 7rem 20px 40px 50px;
    text-align: left;
}
.section-home-inner-1 h1{
    font-size:36px;
    line-height:42px;
    font-family: PlusJakarta-Bold;
}
.section-home-inner-1 p{
    margin-top:20px;
    font-size:18px;
    font-weight:400;
    line-height:30px;
}
.section-home-inner h2{
    font-size:36px;
    line-height:44px;
    font-family: PlusJakarta-Bold;
    text-align: center;
}
.align-left{
    text-align: left;
}
.img-profile{
    border-radius: 50%;
    width:50px;
    height:50px;
    /* margin-right:50px; */
}
.alert {
  display: flex;
  justify-content: space-between;
}
.alert button{
  background: none!important;
  color: gray;;
}
.slick-dots {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
}
.slick-dots li {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}
.slick-dots li.slick-active button {
  background-color: black;
}
.slick-dots li button {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: #999;
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.slick-dots li:hover {
  background-color: black;
}
.slick-slide:hover{
  border: none;
}

/* .slick-dots{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
}
.slick-dots button{
  border-radius: 50%;
  margin: 10px;
} */



/* navbar homepage */
.navbar-homepage{
  background-color: #53A7B2 !important;
  /* padding: 5px 10px 5px 10px; */
}
.navbar-search input{
  background-color:#FFFFFF;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.navbar-search span{
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.fa-shopping-cart{
  color:#FFFFFF;
}
.fa-magnifying-glass{
  color:#FFFFFF;
}
.fa-shop{
  color: #FFFFFF;
}
.navbar-burger-btn:hover{
  background-color:#53A7B2;
  opacity: 0.5;
  border:1px solid white;
}
.navbar-shop-create{
  color: #FFFFFF !important;
  font-family: Montserrat-Medium;
  font-size: 16px;
  line-height: 24px;
  border-radius: 5px;
  background-color: #EE6530;
  padding: 3px 10px;

}
.navbar-shop-name{
    color: #FFFFFF !important;
    font-family: Montserrat-Medium;
    font-size: 16px;
    line-height: 24px;
}
.shop-outer{
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  margin: 0 1rem;
}
.shop-icon{
  cursor: pointer;
  text-decoration: none;
  margin: 0 1rem;
}
.navbar-container{
  width: 80% !important;
}
.navbar-profile{
  text-decoration: none;
  cursor: pointer;
  color: #FFFFFF;
  font-family: Montserrat-Regular;
  font-size: 16px;
  line-height: 24px;
}

/* end navbar */

.navbar-brand{
  color: black;
}
.nav-link{
  color: #FFFFFF !important;
  font-family: Montserrat-Medium;
  font-size: 16px;
  line-height: 24px;
}
.mr-30{
  margin-right:30px;
}
.form-homepage{
    border-radius:10px;
}
.homepage-slider{
    margin-top:100px;
}
.homepage-slick{
    width:100%;
    background-repeat: no-repeat;
    /* height:600px; */
    /* height: 900px; */
    max-height: 900px;
}
.slick-arrow{
  position: relative;
}
.next-arrow{
  position: absolute;
  top: calc(50% - 450px);
  right:30px;
}
.prev-arrow{
  position: absolute;
  top: calc(50% - 450px);
  left:30px;
}
.slick-container-text{
  position: relative;
}

.social-icon{
  width: 50px;
  height: 50px;
}
.contact-wrapper li{
  margin: 15px 0;
}
.contact-wrapper img{
  margin-right: 15px;
}
.contact-icon{
  width: 20px;
  height: 20px;
}
.contact-left{
  padding: 0 0 0 30px;
}
.homepage-logo{
  padding: 0 0 0 10px;
}
.item h3{
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  font-family: Montserrat-Bold;
}
.item ul>li>a{
  font-size: 16px;
  font-family:Montserrat-Medium;
  line-height: 24px;
  color:#FFFFFF ;
  opacity: 1;
}
.subscribe-form{
  padding: 0 0 0 10px;
}
.subscribe-form input{
  border-radius: 4px;
  padding: 10px 15px ;
  background-color:#D9D9D9;
}
.subscribe-form button{
  margin-left: 10px;
  border-radius: 32px;
  padding: 10px 15px ;
  background-color: #EE6530;
}
/* .single-item{
  position: static;
} */
/* .slick-prev:before, .slick-next:before { font-family: "slick"; font-size: 40px; line-height: 1; color: red; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }   

.slick-prev:before { content: "‹"; }
[dir="rtl"] .slick-prev:before { content: "›"; }

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
.slick-next:before { content: "›"; }
[dir="rtl"] .slick-next:before { content: "‹"; } */

.homepage-icon{
  width:100px;
  height:100px;
}
.next-arrow-container{
  position: absolute;
}
.section-contents-img img{
  width: 250px;
  height: 250px;
}
.section-contents-img h2{
    margin-top: 20px;
    text-align: justify;
}
.section-contents-img p{
    margin-top: 40px;
    text-align: justify;
}

/* aboutus */

#aboutus-banner{
  padding: 50px;
}
.banner-inner{
  padding: 30px 10px 30px 10px;
}
.aboutus-img{
  /* height: 400px; */
  max-height: 600px;
  width: 100%;
}
.aboutus-h1{
  text-align: center;
  font-size:36px;
  color: black;
}
.aboutus-text{
  margin-top: 40px;
  color: black;
  text-align: center;
}
#aboutus-search{
  background-color: #C4C4C4;
  padding: 50px 10px 50px 10px;
}
.aboutus-searchbar{
  max-width: 600px;
  margin: auto;
  background-color: #EDEDED ;
}
.search-inner{
  padding:10px 100px 10px 100px;
}
#aboutus-faq{
  padding: 50px 10px 50px 10px;
}
ul {
  list-style-type: none;
}
.aboutus-list{
  padding: 20px 50px 20px 50px ;
}
.list-text{
  margin-bottom: 5px;
}
/* endaboutus */


/* personal informartion */
#personal-information{
  padding: 50px 100px 50px 100px;
}
.personal-info-h1{
  font-size: 36px;
  color: black;
  font-family: Montserrat-Bold;
}
.img-profile-big{
  border-radius: 50%;
  width:100%;
  height:100%;
  max-height: 250px;
  max-width: 250px;
  margin: auto;
}
.img-container{
  padding: 20px 10px 20px 10px;
}
.img-inner{
  padding-left: 10px;
  padding-right: 10px;
}
.left-profile{
}
.profile-menu-list{

}
.profile-menu-list li{
  margin-top: 20px;
  font-size: 24px;
  font-family: Montserrat-Medium;
}
.personal-info-detail{
  padding-right: 150px;
  padding-left: 50px;
}
.profile-name{
  font-size: 36px;
  color: black;
  text-align: center;
  font-family: Montserrat-Bold;
}
.profile-form{
  background-color: #DFDFDF;
  border-radius: 10px;
  height: 50px;
}
.form-list{
  margin-top:20px;
}
.btn-profile{
  margin-top: 40px;
  width: 100px;
}
/* end personal information */
#shopping_cart{
  min-height: 60vh;
}


/* Shopping Cart */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

/* html,
html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
  background-color: #fff;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  margin: 0 auto;
}

a {
  border: 0 none;
  outline: 0;
  text-decoration: none;
}

strong {
  font-weight: bold;
}

p {
  margin: 0.75rem 0 0;
}

h1 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
} */
.product-details-cart{
  margin: 0;
  padding: 0;
  padding: 0 1.5rem;
  float: left;
}
.product-details-cart h1{
  font-size: 18px;
  font-family: Montserrat-Bold;
  
}
input,
button {
  border: 0 none;
  outline: 0 none;
}

button {
  background-color: #666;
  color: #fff;
}

button:hover,
button:focus {
  background-color: #555;
}

img,
.basket-module,
.basket-labels,
.basket-product {
  width: 100%;
}

.basket,
.basket-module,
.basket-labels,
.price,
.quantity,
.subtotal,
.basket-product,
.product-image,
.product-details {
  float: left;
}

/* .price:before,
.subtotal:before,
.subtotal-value:before,
.total-value:before,
.promo-value:before {
  content: '£';
} */

.hide {
  display: none;
}

main {
  clear: both;
  font-size: 0.75rem;
  margin: 0 auto;
  overflow: hidden;
  padding: 1rem 0;
  width: 960px;
}

.basket,
aside {
  padding: 0 1rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.basket {
  width: 70%;
  /* background: #E6E6E6; */
  /* border-radius: 15px; */
}
.basket-title{
  width:70%
}

.basket-module {
  color: #111;
}

label {
  display: block;
  margin-bottom: 0.3125rem;
}

.promo-code-field {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-transform: uppercase;
  transition: all 0.2s linear;
  width: 60%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  border-radius: 10px;
}

.promo-code-field:hover,
.promo-code-field:focus {
  border: 1px solid #999;
}

.promo-code-cta {
  border-radius: 4px;
  font-size: 0.625rem;
  margin-left: 0.625rem;
  padding: 0.6875rem 1.25rem 0.625rem;
}

.basket-labels {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-top: 1.625rem;
}

/* ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  color: #111;
  display: inline-block;
  padding: 0.625rem 0;
} */

li.price:before,
li.subtotal:before {
  content: '';
}

.basket-item {
  width: 55%;
}
.search-wrapper input{
  padding: 10px 20px;
  /* border-radius: 8px; */
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.search-wrapper button{
  background-color:#EE6530 ;
  padding: 10px 20px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.price,
.quantity,
.subtotal {
  /* width: 15%; */
}
.quantity label{
  font-size: 16px;
  font-family: Montserrat-Medium;
}
.subtotal {
  /* text-align: right; */
  float: right;
  font-family: Montserrat-Medium;
  font-size: 16px;
}

.remove {
  bottom: 1.125rem;
  float: right;
  position: absolute;
  right: 0;
  text-align: right;
  width: 45%;
}

.remove button {
  background-color: transparent;
  color: #777;
  float: none;
  text-decoration: underline;
  text-transform: uppercase;
}

.item-heading {
  padding-left: 4.375rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.basket-product {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
  position: relative;
  margin-bottom: 50px;
}

.product-image {
  width: 35%;
}

.product-frame {
  border: 1px solid #aaa;
}

.product-details {
  padding: 0 1.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.product-details h1{
  width: 100%;
  font-size:20px ;
  margin-bottom: 0.5rem;
}
.product-details p{
  margin-bottom: 0;
}

.quantity-field {
  /* background-color: #ccc; */
  /* border: 1px solid #aaa; */
  border-radius: 4px;
  font-size: 0.625rem;
  padding: 2px;
  width: 3.75rem;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
    border: 1px solid #aaa;

}

aside {
  float: right;
  position: relative;
  width: 30%;
}

.summary {
  /* background-color: #DFDFDF; */
  /* border: 1px solid #aaa; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 1rem;
  /* position: fixed; */
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 15px;
}
.summary-delivery{
  font-size: 16px;
  font-family: Montserrat-Medium;
}

.summary-total-items {
  color: #666;
  font-size: 0.875rem;
  text-align: center;
}

.summary-subtotal,
.summary-total {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  clear: both;
  margin: 1rem 0;
  overflow: hidden;
  padding: 0.5rem 0;
}
.add-address {
  text-decoration: none;
  color: #FFFFFF;
  font-family: Montserrat-Medium;
  font-size: 16px;
  padding: 5px 10px;
  background-color: #0069d9;
  border-radius: 8px;
  width: 100%;
}
.add-address:hover{
  opacity: .9;
  text-decoration: none;
  color: #000000;
}
.summary-order-number{
  margin: .1rem 0;
  overflow: hidden;
  padding: 0.5rem 0;
}
.subtotal-title, .total-title, .total-value{
  font-family: Montserrat-Bold;
}
.subtotal-value{
  font-family: Montserrat-Medium;
}

.subtotal-title,
.subtotal-value,
.total-title,
.total-value,
.promo-title,
.promo-value {
  color: #111;
  float: left;
  width: 50%;
}
.subtotal-order-number{
  color: #111;
  float: left;
  width: 50%;
  text-align: right;
}

.summary-promo {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.summary-promotional{
  /* margin: .1rem 0 1rem; */
  min-height: 2vw;
}
.cart-h1{
  font-size: 36px;
  padding: 0.5rem;
  font-family: PlusJakarta-Bold;
}
.promo-title {
  float: left;
  width: 70%;
}

.promo-value {
  color: #8B0000;
  float: left;
  text-align: right;
  width: 30%;
}
.summary-address {
  padding-bottom: 3rem;
  text-align: center;
}
.delivery-details{
  background-color: #DFDFDF;
  border-radius: 12px;
}
.delivery-checkbox{
  margin-bottom: 30px;
}

.subtotal-value,
.total-value {
  text-align: right;
}

.total-title {
  font-weight: bold;
  /* text-transform: uppercase; */
}

.summary-checkout {
  display: block;
}

.checkout-cta {
  display: block;
  float: none;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  padding: 0.625rem 0;
  width: 100%;
  background-color: #03AC0E;
  border-radius: 8px;
  font-family: Montserrat-Bold;
}

.summary-delivery-selection {
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: block;
  font-size: 0.625rem;
  height: 34px;
  width: 100%;
}
.delivery-h1{
  margin-top: 50px;
}
.card:hover{
  border: 1px solid blue;
  cursor: pointer;
}

/* start home2 */
#homepage-row-1{
  height: 35vw;
  /* margin-top: 50px; */
  padding-top: 2rem;
  background-color: #FAF6F1;
}
#homepage-header{
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: #FAF6F1  ;
}
.homepage-header-outer h1{
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  color: #333333;
}
.homepage-header-outer p{
  font-family: Montserrat-Light;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
}
.homepage-header-outer a{
  padding: 16px 43px;
  background-color: #EE6530;
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 24px;
  font-family: Montserrat-Bold;
  line-height: 28px;
  border-radius: 5px;
}

.mr-auto{
  margin-right: auto;
}
#homepage-row-2{
  background-color:#FFFFFF ;
  padding-top: 2rem;
  padding-bottom: 5rem;
}
.homepage-row-2-img{
  padding: 1rem;
}
.homepage-navbar{
  
}
.homepage-row-2-inner h1{
  color: #333333;
  font-family: PlusJakarta-Bold;
  font-size: 56px;
  line-height: 70px;
  margin-bottom: 1rem;
}
.homepage-row-2-inner h2{
  font-family: PlusJakarta-Bold;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 2rem;
}
.homepage-row-2-inner p{
  font-size: 18px;
  line-height: 28px;
  font-family: PlusJakarta-Regular;
}

.homepage-row-2-inner a{
  padding: 16px 43px 16px 43px;
  background-color: #EE6530;
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 24px;
  font-family: Montserrat-Bold;
  line-height: 28px;
  border-radius: 5px;
}
#homepage-row-3{
  margin-top: 50px;
  /* height: 20vw; */
  margin-bottom: 60px;
}
.homepage-row-3-inner{
  text-align: center;
}
.homepage-row-3-inner h1{
  font-family: PlusJakarta-Bold;
  font-size: 64px;
  line-height: 80px;
}
.homepage-row-3-inner h2{
  font-family: PlusJakarta-Bold;
  font-size: 30px;
  line-height: 37px;
  margin-top: 20px;
}
.homepage-row-3-inner p{
  font-family: PlusJakarta-Regular;
  font-size: 18px;
  line-height: 29px;
  margin-top: 20px;
}
.homepage-row-3-inner a{
  padding: 16px 43px 16px 43px;
  background-color: #EE6530;
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 24px;
  font-family: Montserrat-Bold;
  line-height: 28px;
  margin-top: 20px;
  border-radius: 5px;
}
.homepage-button{
  margin-top: 50px;
}


/* end home2 */

/* createStore */
#createStore{
  background-color: gray;
  /* min-height: 50vh; */
  height: 100%;
}
.createStore-inner{
  padding: 150px 50px 250px 50px;
}
.createStore-outer-form{
  padding: 50px 50px 50px 20px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.form-label{
  font-size:16px;
  font-family: Montserrat-Bold;
}
.form-email h3{
  margin-bottom: 20px;
}
.form-label{
  margin-top: 10px;
}
.form-domain{
  line-height: 40px;
}
.form-control{
  background-color: #EFEFEF;
}
.custom-select{
  width:100%;
  background-color: #EFEFEF;
  border: none;
  border-radius: 5px;
  height: 38px;
}
.createStore-btn{
  background-color: #EE6530;
  color: #FFFFFF;
  font-size: 13px;
  font-family: Montserrat-Medium;
  padding-left: 20px;
  padding-right: 20px;
}
.form-check-input{
  background-color: #C4C4C4  ;
}
.form-check-label{
  font-family: Montserrat-Light;
  font-size: 12px;
  line-height: 25px;
  color:#333333  ;
}
.createStore-img img{
 position: absolute;
 top:calc(50% - 200px);
 left:calc(50% - 400px);
}
/* EndCreate Store */

.display-desktop{
  display: block;
}
.display-mobile{
  display: none;
}
.profile-label{
  font-family: Montserrat-Bold;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}
/* List Order User */
.order-detail-wrapper{

}


/* ENd list order User */
@media screen and (max-width:1199px){
  .display-desktop{
    display: none;
  }
  .display-mobile{
    display: block;
  }
  .navbar-container{
    width: 100% !important;
  }
  .img-profile{
    margin-right: 0px;
  }
  .profile-menu-list{
    text-align: center;
  }
  .img-inner{
    text-align: center;
  }
  .profile-menu-list li{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
  }
  #personal-information{
    padding: 30px;
  }
  .personal-info-detail{
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 960px) {
  aside,
  .basket,
  .summary,
  .item,
  .remove {
    width: 100%;
  }
  .basket-labels {
    display: none;
  }
  .footer-mobile{
    text-align: center;
  }
  .basket-module {
    margin-bottom: 1rem;
  }
  .item {
    margin-bottom: 1rem;
  }
  .product-image {
    width: 40%;
  }
  .product-details {
    width: 60%;
  }
  .price,
  .subtotal {
    width: 33%;
  }
  .quantity {
    text-align: center;
    width: 34%;
  }
  .quantity-field {
    float: none;
  }
  .remove {
    bottom: 0;
    text-align: left;
    margin-top: 0.75rem;
    position: relative;
  }
  .remove button {
    padding: 0;
  }
  .summary {
    margin-top: 1.25rem;
    position: relative;
  }
  .profile-menu-list{
    padding-left: 0px;
  }
  .profile-menu-list li{
    padding: 5px;
  }
}

@media screen and (min-width: 641px) and (max-width: 960px) {
  aside {
    padding: 0 1rem 0 0;
  }
  .summary {
    width: 28%;
  }
}

@media screen and (max-width: 960px) {
  main {
    width: 100%;
  }
  .product-details {
    padding: 0 1rem;
  }
}

/* End Shopping Cart */
/* body{margin-top:20px;
  background:#f1f2f7;
  } */
  
  /*panel*/
  .panel {
      border: none;
      box-shadow: none;
      
  }
  .panel-color{
    background-color:#E4E4E4 ;
    padding: 20px 20px 20px 20px;
  }
  
  .panel-heading {
      border-color:#eff2f7 ;
  }
  .panel-heading h1{
    font-size: 24px;
  }
  
  .panel-title {
      color: #2A3542;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 0;
      margin-top: 0;
      font-family: 'Open Sans', sans-serif;
  }
  
  
  /*product list*/
  
  .prod-cat li a{
      border-bottom: 1px dashed #d9d9d9;
  }
  .prod-cat{
   padding-left: 0; 
  }
.break-line{
  border: 1px solid black;
  margin-bottom: 30px;
  margin-top: 30px;
}
.panel-filter{
  /* margin-top: 30px; */
}
  .prod-cat li a {
      color: #3b3b3b;
  }
  
  .prod-cat li {
      cursor: pointer;
  }
  .prod-cat li:hover{
    color: green;
  }
  
  .prod-cat li ul li a{
      border-bottom:none;
  }
  .prod-cat li ul li a:hover,.prod-cat li ul li a:focus, .prod-cat li ul li.active a , .prod-cat li a:hover,.prod-cat li a:focus, .prod-cat li a.active{
      background: none;
      color: #ff7261;
  }
  
  .pro-lab{
      margin-right: 20px;
      font-weight: normal;
  }
  
  .pro-sort {
      padding-right: 20px;
      float: left;
  }
  
  .pro-page-list {
      margin: 5px 0 0 0;
  }
  
  .product-list img{
      width: 100%;
      height: 250px;
      max-height: 250px;
      object-fit: cover;
      border-radius: 4px 4px 0 0;
      -webkit-border-radius: 4px 4px 0 0;
  }
  
  .product-list .pro-img-box {
      position: relative;
  }
  .adtocart {
      background: #fc5959;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      color: #fff;
      display: inline-block;
      text-align: center;
      border: 3px solid #fff;
      left: 45%;
      bottom: -25px;
      position: absolute;
  }
  
  .adtocart i{
      color: #fff;
      font-size: 25px;
      line-height: 42px;
  }
  
  .pro-title {
      color: #5A5A5A;
      display: inline-block;
      margin-top: 20px;
      font-size: 16px;
  }
  
  .product-list .price {
      color:#fc5959 ;
      font-size: 15px;
  }
  
  .pro-img-details {
      margin-left: -15px;
  }
  
  .pro-img-details img {
      width: 100%;
  }
  
  .pro-d-title {
      font-size: 16px;
      margin-top: 0;
  }
  
  .product_meta {
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      padding: 10px 0;
      margin: 15px 0;
  }
  
  .product_meta span {
      display: block;
      margin-bottom: 10px;
  }
  .product_meta a, .pro-price{
      color:#fc5959 ;
  }
  
  .pro-price, .amount-old {
      font-size: 18px;
      padding: 0 10px;
  }
  
  .amount-old {
      text-decoration: line-through;
  }
  
  .quantity {
      width: 120px;
  }
  
  .pro-img-list {
      margin: 10px 0 0 -15px;
      width: 100%;
      display: inline-block;
  }
  
  .pro-img-list a {
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
  }
  
  .pro-d-head {
      font-size: 18px;
      font-weight: 300;
  }
/* product cart */

/* List Cart Shop */
#shop-cart-list{
  padding-top: 50px;
  padding-bottom: 50px;
}
.shop-list{
  /* background-color:pink; */
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  border-radius: 5px;
  margin: 10px 0;
}
.shop-list h2{
  font-size: 24px;
  font-family: Montserrat-Bold;
  line-height: 32px;
}
.shop-list h3{
  font-size: 18px;
  font-family: Montserrat-Regular;
  line-height: 27px;
}
.shop-list span{
  font-size: 18px;
  font-family: Montserrat-Bold;
  line-height: 27px;
  color: red;
}
.shop-list button{
  font-size: 18px;
  font-family: Montserrat-Bold;
  line-height: 27px;
  color: white;
  padding: 10px 20px;
}

/* END Cart Shop */



/* end product category */
#section-home-email{
    background-color: #F8FAFC;
    /* padding-top:50px; */
    /* padding-bottom:50px; */
    margin-top:100px;
}
.section-home-email-inner{
    height:500px;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.start-now{
  margin-bottom: 20px;
}
.start-button{
  background-color:#EE6530 ;
  /* padding: 20px 40px 20px 40px ; */
  text-decoration: none;
  cursor: pointer;
  color:#FFFFFF;
  padding: 10px 30px;
  font-family: Montserrat-Bold;
  font-size: 24px;
  line-height: 28px;
}
.start-now-inner{
  text-align: center;
}
.form-subs input{
    border: 1px solid #ffffff !important;
    width: 100%;
    border: 0 none;
    background-color: #B13452;
    color: #ffffff;
    padding: 6px 30px;
    padding-right: 120px;
}
.form {
    overflow: hidden;  
}
.newsletter {
    padding: 60px 0px;
    /* background: url(https://i.ibb.co/JRrHmhv/shanghai.jpg) no-repeat center center; */
    background-size: cover;
    position: relative;
    z-index: 2;
    /* min-height: 20vh; */
}
  .newsletter:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: -webkit-linear-gradient(-30deg, #91039f 0%, #052157 100%); */
    opacity: .8;
    z-index: -1; }
  .newsletter .section-title {
    margin-bottom: 59px; }
    .newsletter .section-title h2 {
      /* background-image: -webkit-linear-gradient(-30deg, #ffffff 0%, #ffffff 100%);  */
      color: #3E6EB0;
      font-weight:700;
      font-size: 36px;
      line-height:30px;
    }
  .newsletter .newsletter-form {
    /* background: -webkit-linear-gradient(-30deg, #91039f 0%, #052157 100%); */
    position: relative;
    height: 60px;
    z-index: 2; }
    .newsletter .newsletter-form:after {
      position: absolute;
      content: '';
      left: -2px;
      right: -2px;
      top: -2px;
      bottom: -2px;
      /* background: -webkit-linear-gradient(-30deg, #91039f 0%, #91039f 100%); */
      z-index: -1; }
    .newsletter .newsletter-form input {
      width: 100%;
      height: 100%;
      border: none;
      padding: 30px;
      background: #ffffff;
      color: #B9B4B4;
      padding-right: 200px; }
      .newsletter .newsletter-form input::-webkit-input-placeholder {
        color: #B9B4B4;
        opacity: .6; }
      .newsletter .newsletter-form input:-ms-input-placeholder {
        color: #B9B4B4;
        opacity: .6; }
      .newsletter .newsletter-form input::-ms-input-placeholder {
        color: #B9B4B4;
        opacity: .6; }
      .newsletter .newsletter-form input::placeholder {
        color: #B9B4B4;
        opacity: .6; }

    .newsletter .newsletter-form button {
      position: absolute;
      top: -2px;
      right: -2px;
      bottom: -2px;
      width: 170px;
      background: #3E6EB0;
      outline: none;
      border: none;
      color: #fff;
      font-weight: 500;
      cursor: pointer; }
      .newsletter .newsletter-form button:hover {
        background: -webkit-linear-gradient(-30deg, #052157 0%, #91039f 100%); }


 /* footer */
 .footer-clean {
    padding:50px 0 10px 0;
    background-color:#53A7B2;
    color:#FFFFFF;
  }
  
  .footer-clean h3 {
    padding:0 0 0 10px;
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    padding:0 0 0 10px;
    margin: auto;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  .footer-clean .item.social {
    text-align:left;
  }
  
  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:8px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
  }
  
  .footer-clean .item.social > a {
    font-size:24px;
    padding: 5px;
    /* width:50px; */
    /* height:40px; */
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    /* border:1px solid #ccc; */
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  
  @media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }
  }
.copyright-wrapper{
  background-color:#53A7B2;
}
.copyright{
    text-align: left;
    margin-top:10px;
    margin-bottom:0;
    padding: 10px 0;
    font-size:14px;
    font-weight: 400;
    line-height: 20px;;
}
.social-media{
  margin-left: auto;
  order: 2;
  padding-top: 20px;
}
.social-media a{
  color:#53A7B2 ;
}
.fa-facebook{
  color: #FFFFFF;
}
.fa-instagram{
  color: #FFFFFF;
}
.fa-twitter{
  color: #FFFFFF;
}
.social-media a>i{
  padding:0 5px;
}
.circle {
  border: 1px solid #FFFFFF;
  background-color: #53A7B2;
  /* height: 100px;
  -moz-border-radius:75px;
  -webkit-border-radius: 75px;
  width: 100px; */
}
.copyright a{
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.8;
}
.slick-text-inner{
  position: absolute;
  /* width: 730px;
  height: 320px; */
  background-color: #41B29E;
  opacity: 0.75;
  top: 50%;
  left: 50%;
  transform: translate(-90%, -200%);
}
.slick-text{
  padding: 50px 43px 50px 50px ;
}

.slick-text h1{
  color: #FFFFFF;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 52px;
  font-family: PlusJakarta-Bold;
}
.slick-text a{
  background-color: #EE6530;
  padding: 16px 25px ;
  text-decoration: none;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 28px;
  font-family: Montserrat-Bold;
}
.section-home-inner-1{
  margin-top: 100px;
}
.container-homepage-content{
  margin-top: 50px;
}
@media screen and (max-width:1199px){
  .copyright{
    margin-top: 0px;
    padding:0 0 20px 0;
  }
  .footer-clean{
    padding: 10px 0 10px 0;
  }
  .item{
    margin-bottom: 0px;
    padding-bottom: 5px;
  }
  .footer-clean h3{
    padding: 0px;
    margin-bottom: 5px;
  }
  .homepage-logo{
    padding: 0px;
  }
  .contact-left{
    padding: 0px;
  }
  .contact-wrapper li{
    margin: 8px 0;
  }
  .footer-clean ul{
    padding: 0px;
  }
  .social-media{
    padding-top: 0px;
  }
  .slick-text{
    padding: 50px 43px 50px 50px ;
  }
  .slick-text-inner{
    /* width: 500px;
    height: 300px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
  }
  .slick-text h1 {
      color: #FFFFFF;
      font-weight: 700;
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 30px;
  }
 
}
@media screen and (max-width:767px){
  .section-home-inner-1{
    margin-top: 20px;
  }
  .slick-text-inner{
    /* width: 300px;
    height: 200px; */
    transform: translate(-50%, -190%);
  }
  .section-home-inner{
    padding: 1rem 20px;
  }
  #section-home-contents{
    margin-top: 20px;
  }
  .section-contents-img p{
    margin-top: 20px;
    margin-bottom:20px;
  }
  #section-home-email{
    margin-top:20px;
  }
  .slick-text{
    padding: 10px 40px 50px 40px ;
  }
  .slick-text a{
    opacity:1 ;
    padding: 10px;
    font-size: 12px;
    line-height: 21px;
  }
  .container-homepage-content{
    margin-top: 10px;
  }
  .text-right{
    text-align: center;
  }
  .text-left{
    text-align: center;
  }
  .start-button{
    font-size: 16px;
    padding: 10px 20px;
  }
  .homepage-header-outer h1{
    font-size: 36px;
    font-family: PlusJakarta-Bold;
    line-height: 44px;
    color: #333333;
  }
  #homepage-row-1{
    height: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .homepage-row-2-inner h1{
    font-size: 44px;
    line-height: 52px;
    text-align: center;
  }
  .homepage-row-2-inner h2{
    font-size: 18px;
    line-height: 28px;
    text-align: center;
  }
  .homepage-row-2-inner p{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  }
  .homepage-button{
    text-align: center;
  }
  .homepage-row-2-inner a{
    padding: 15px 30px;
    font-size: 18px;
  }
  .homepage-row-3-inner h1 {
    font-size: 44px;
    line-height: 52px;
  }
  .homepage-row-3-inner h2{
    font-size: 18px;
    line-height: 28px;
  }
  .homepage-row-3-inner a{
    padding: 15px 30px; 
    font-size: 18px;
  }
  .homepage-header-outer a{
    padding: 15px 30px; 
    font-size: 18px;
  }
  #homepage-row-3{
    margin-top: 0px;
  }
  .shop-list{
    padding: 10px 5px;
  }
  
}